*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* ------------------------
Common Styles
-------------------------- */
.main-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 20px;
}
.primary-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.primary-button{
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    margin-top: 32px;
}
/*------------------------- 
Section
--------------------------- */
header{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
    max-height: 1412px;
    padding-bottom: 50px;
}
/* ------------------------
For Nav bar Section
--------------------------- */
.nav-bar{
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 50px 25px;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.nav-bar ul a{
    text-decoration: none;
    color: black;
}

/* ----------------------------
title-banner-section
-------------------------------- */
.title-banner-section{
    text-align: center;
}
.header-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin: 30px 0;
}
/* banner image */

.title-banner-section img{
    width: 90%;
    margin-top: 50px;
}
/* -------------------------------
For Main Section
--------------------------------- */
.container-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    max-height: 710px;
    margin: 0 auto;
    margin-top: 85px;
    gap: 75px;   
}

.container-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;    
}
/*For Container Title and text */
.container-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.container-color-title{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.container-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 25px;
}


/* -----------------------------
Experience-section
------------------------------ */
.experience-section{
    max-width: 1440px;
    width: 100%;
    height: 1059px;
    height: auto;
    margin: 0 auto;
    gap: 30px;
    margin-top: 160px;
}
.experince{
    display: flex;
    gap: 190px;
}
.experience-container, .experience-text{
    margin-left: 25px;
 }
.benefits-image{
    max-width: 900px;
    height: 1050px;
}
.line-title{
    display: flex;
    margin-bottom: 0px;
}
.benefits{
    max-width: 586px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    padding: 0 20px;
    padding-top: 10px;
}
.benefits-header{
    margin-top: 20px;
}

/* For title right side line */
.line{
    width: 5px;
    height: 146px;
    background: #FF900E;
    display: block;
    margin-top: 32px;
    margin-right: 28px;
}
/* For image bottom box */
.box{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    text-align: center;
    margin-left: 680px;
    margin-top: -180px;
    position: relative;
}
.box h1{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding: 30px 0 10px 0;
}
.box h4{
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;   
}
/* For Some Facts title and text */
.facts{
    margin-left: 230px;
    margin-top: 150px;
}
/* Service section and award wining */
.service{
    display: flex;
    justify-content:center;
    gap: 125px;
    margin-top: 110px;
}
/* for box */
.service-box{
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* For hover and transition */
.service-box:hover{
    letter-spacing: 0.20em;
    background-color: rgba(233, 149, 241, 0.541);
    transition:2s;
    box-shadow: 0px 4px 30px rgba(231, 12, 12, 0.959);
}
/* box number */
.number{
    padding: 15px 0;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
/* for box text */
.result{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* Sponsor section */
.sponsor{
    text-align: center;
    margin-top: 150px;
}
/* logo */
.logo-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}
/* for logo images b&g */
.logo-container img{
    filter: grayscale(1);
}
/* Contract and address section */
.contract{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
}
/* contract icon */
.contract-icon{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    font-size: 1.5rem;
}
/* Building image  */
.contract-image{
    border-radius: 15px;
}
/* footer section */
.footer{
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 80px;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.footer p{
    font-weight: 400;
    font-size: 22px;
    color: #424242;;
}




/* for responsive */
@media only screen and (max-width:650px) {
/* For Nav bar Section */
    .nav-bar{
        flex-direction: column;
    }
    .nav-bar ul{
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
    .nav-bar ul li{
        background-color: rgb(211, 186, 186);
        border: 1px solid black;
        display: flex;
        justify-content: center;
        padding: 8px 88px;
        border-radius: 50px;
    }
/* nav-bar hover */
    .nav-bar ul li:hover{
        background-color: rgba(233, 149, 241, 0.541);
        transition:2s;
        box-shadow: 0px 2px 10px rgba(231, 12, 12, 0.959);
    }

    .container-image{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;    
    }
/* For Main Section */
    .container-section{
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    margin-top: 85px;
    gap: 75px;   
    }
    .container-details{
        text-align: center;
        padding: 0 15px;
    }

/* experience section */
    .experience-section{
        flex-direction: column;
        max-height: auto;
        margin: 0 auto;
        justify-content: start;
        align-items: center;
        margin-top: 1250px;
        padding: 0px;
    }

    .benefits{
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 0 20px;
        padding-top: 10px;
        margin-top: 20px;
    }
    
    .experience-container{
        display: flex;
        flex-direction: column;
    }
     .experience-container, .experience-text{
        margin-left: 15px;
    }
    .experince{
        flex-direction: column;
    }
    
    .benefits-image{
        display: none;
            
       
    }
    .box{
        display: none;
    }
    
/* For title right side line */
    .line{
        width: 5px;
        height: 295px;
        background: #FF900E;
        display: block;
        margin-top: 32px;
        margin-right: 28px;
    
    }
/* For Some Facts title and text */
    .facts{
        margin: 0;
        padding: 15px;
        margin-top: 90px;
        text-align: center;
    }
/* Service section and award wining */
    .service{
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }
/* for box */
    .service-box{
        width: 70%;
    }
    /*For sponsor section and logo */
    .sponsor{
        text-align: center;
        margin-top: 90px;
    }
    .logo-container{
        flex-direction: column;
        margin-bottom: 20px; 
        align-items: center;
    }
    .logo-container img{
        height: 40px;
        margin-bottom: 45px;
        width: 60%;   
    }
    /* Contract and address section */
    .contract{
        flex-direction: column;
        text-align: center;
    }
    .contract-icon{
        justify-content: center;
    }
    /* Building image  */
    .contract-image{
        width: 90%;
        margin-top: -100px;
    }
    }